.login-container {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f5efe8;

}


.login-card {

    width: 400px;

    padding: 35px;

    background: white;

    border-radius: 18px;

    box-shadow: 0 8px 25px rgba(0,0,0,.15);

    text-align: center;

}


h1 {

    color: #6b3e1e;

    font-size: 32px;

    margin-bottom: 15px;

}


h2 {

    color: #8b5a2b;

    margin-bottom: 10px;

}


p {

    color: #666;

    margin-bottom: 20px;

}



label {

    display: block;

    text-align: left;

    margin-top: 15px;

    font-weight: bold;

    color: #5a351c;

}



input {

    width: 100%;

    padding: 12px;

    margin-top: 6px;

    border: 1px solid #c8a27a;

    border-radius: 8px;

    box-sizing: border-box;

    font-size: 14px;

}



button {

    width: 100%;

    margin-top: 25px;

    padding: 12px;

    background: #6b3e1e;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 15px;

    cursor: pointer;

}



button:hover {

    background: #8b5a2b;

}



.mensaje {

    margin-top: 15px;

    color: #6b3e1e;

    font-weight: bold;

}