<div class="login-container">

    <div class="login-card">

        <h1>KASQ Footwear</h1>

        <h2>Crear contraseña</h2>

        <p>
            Primera vez ingresando al portal
        </p>


        <label>
            Correo registrado por RH
        </label>

        <input
            type="email"
            [(ngModel)]="correo"
            placeholder="correo@empresa.com">


        <label>
            Nueva contraseña
        </label>

        <input
            type="password"
            [(ngModel)]="password"
            placeholder="Nueva contraseña">


        <label>
            Confirmar contraseña
        </label>

        <input
            type="password"
            [(ngModel)]="confirmarPassword"
            placeholder="Confirmar contraseña">


        <button (click)="guardar()">

            Guardar contraseña

        </button>


        <p class="mensaje">
            {{mensaje}}
        </p>


    </div>

</div>