<div class="container">
  <h1>Registrar Empleado</h1>

  <mat-tab-group>
    <mat-tab label="Datos Personales">
      <div class="tab-content">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre(s)</mat-label>
          <input matInput placeholder="Escribe el nombre aquí">
        </mat-form-field>
      </div>
    </mat-tab>
    
    <mat-tab label="Datos Laborales">
      <div class="tab-content">
        <p>Aquí irán los campos laborales.</p>
      </div>
    </mat-tab>

    <mat-tab label="Información Bancaria">
      <div class="tab-content">
        <p>Aquí irán los campos bancarios.</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>